{% extends 'base.html' %} 

{% block styles %}
<style>
body {
      background-color: #226268;
      {% if bg_image %}background-image: url({{ bg_image }});{% endif %}
      background-size: cover;
    }
.btn-link {
      color: #50dfec;
      text-shadow: none;
    }
    .btn-link:hover {
      color: #000000;
    }
</style>
{% endblock styles %}
{% block content %}


<h1 class="cover-heading">{{ title }}</h1>
<div class="lead">
    <div class="col-sm-6 col-sm-offset-3">
        <form action="" method="POST" action=".">
            {% csrf_token %}
            <input type="text" placeholder="url" name="url" class="form-control">
            <input type="submit" value="Shorten" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}
